.pancakes-container {
  background-image: url('./img/fon-pancakesPage8.jpg');
  /*cover - Масштабирует изображение с сохранением пропорций так, чтобы его 
  ширина или высота равнялась ширине или высоте блока*/
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* Размер указывается в процентах от высоты вьюпорта (viewport height). 
  100vh соответствует полной высоте вьюпорта. 1vh(единица высоты экрана) = 1% высоты вьюпорта. 
  У body тогда будет по умолчанию height: auto; и body просто будет подстраиваться под содержимое.*/
  min-height: 100vh;
  /* Размер в процентах от ширины вьюпорта (viewport width). 
  100vw соответствует полной ширине вьюпорта. 1vw = 1% ширины вьюпорта. */
  /* width: 100vw; */
}

@media (max-width: 660px) {
  .pancakes-container {
    height: 100%;

  }
}